* {
    margin: 0;
    padding: 0;
    border: border-box;
    list-style-type: none;
}

body {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.page {
    height: 100%;
    width: 100%;
    background-color: transparent;
    margin: auto;
    display: grid;
    grid-template-columns: 3.2fr 0.8fr;
    grid-template-rows: 1fr 2fr;
    scale: 0.9;
}




.headStart {
    grid-row: 1 / 2 ;
    grid-column: 1 / -1;
    width: 60%;
    height: 80%;
    display: flex;
    margin: auto;
    justify-self: center;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 2px rgb(81, 75, 75);
}

.headStart>h1 {
    font-size: 45px;
    font-family: 'Segoe UI';
    text-align: center;
}

.controlsDiv {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

button {
    margin-right: 15px;
    font-size: 18px;
    padding: 2px 8px;
    font-family: 'Segoe UI';
    font-weight: 800;
    color: black;
    border: none;
    opacity: 0.9;

    &:hover {
        opacity: 0.9;
        scale: 0.95;
        border-radius: 2px;
    }
}

.Start {
    background-color: #b2f2bb;
    scale: 1.2;
    &:hover{
        scale: 1.15;
    }; 
}

.Continue{
    background-color: #b2f2bb;
}

.Exit {
    background-color: #ffc9c9;
    border: none;
    color: #e03131 !important;
}


.tossDiv {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.tossCaption {
    color: #a5d8ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.headsButton {
    background-color: #d0bfff;
    margin-right: 20px;
}

.tailsButton {
    background-color: #fcc2d7;
}





.moveSec {
    grid-area: 1 / 2 / 3 / -1;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.moveOptions {
    margin-top: 60px;
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: stretch;
}

.move {
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    justify-self: center;
    align-self: center;
    border-radius: 2px;
    &:hover {
        scale: 0.95;
        opacity: 0.95;
    };
    margin-bottom: 10px;
}

.moveHistory {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    overflow-y: scroll;
    scrollbar-width: none;
}

.moveHist-Tile {
    width: 80%;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 10px;
    margin: 10px auto;
    align-items: center;
    box-shadow: 0px 0px 6px 0.5px rgba(233, 227, 227, 0.323);
    cursor: not-allowed;
}

.bot-icon {
    width: 30px;
    height: 30px;
    background-image: url(./images/red-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    scale: 0.85;
}

.botMove {
    display: flex;
    align-items: center;
    justify-items: center;
}

.player-icon {
    width: 30px;
    height: 30px;
    background-image: url(./images/blue-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    scale: 0.85;
}

.playerMove {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-items: center;
}

.moveButton {
    background-color: #40c057;
    margin: 30px auto;
    scale: 1.2;
    color: white;

    &:hover {
        scale: 1.15;
    }
}




.gameSec {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}

.gameDisplay {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 1fr 1fr;
}

.BotThrowDisp {
    grid-area: 1 / 1 / 3 / 2;
    background-image: url(./images/fist.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    opacity: 0.6;
    scale: 0.8;
}

.PlayerThrowDisp {
    grid-area: 1 / 3 / 3 /-1;
    background-image: url(./images/fist2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    opacity: 0.6;
    scale: 0.8;
}

.gameRunDisp {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    text-align: center;
}

.liveRuns {
    margin: auto;
    font-size: 120px;
}

.gameStats {
    width: 100%;
    height: 25%;
    display: grid;
    text-align: center;
    padding-top: 10px;
    opacity: 0.8;
}

.gameNamesDisp {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    scale: 1.2;
    text-align: center;
}

.Icon {
    width: 50px;
    height: 70px;
    border-radius: 5px;
    opacity: 0.6;
    margin-top: 60px;
}

.bot {
    background-image: url(./images/bot-DP.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.player {
    background-image: url(./images/PLAYER-DP.png);
    background-size: contain;
    background-position: center 2px;
    background-repeat: no-repeat;
}

.vs {
    font-weight: 900;
    scale: 2;
    color: grey;
    margin-top: 40px;
}
.botTag{
    color:#e03131;
    font-weight: 800;
    margin-bottom: 3px;
}
.playerTag{
    color: #3b92d5;
    font-weight: 800;
    margin-bottom: 3px;
}




.hidden{
    display : none;
}